.login, .register {
  max-width: 400px;
  margin: 4rem auto;
  background: var(--background-card);
  padding: 2.5rem;
  border-radius: 16px;
  border: 1px solid var(--border-light);
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.2);
  animation: fadeIn 0.6s ease-in-out;
}

h2 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

input {
  width: 93%;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--border-light);
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid var(--primary);
}

button {
  width: 100%;
  background: var(--primary);
  color: #111;
  border: none;
  border-radius: 8px;
  padding: 0.9rem;
  font-weight: bold;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px var(--primary);
}

@media (max-width: 480px) {
  .login, .register {
    width: 90%;
    padding: 5rem;
  }
}
